.pokemon-card {
  width: 100%;
  min-height: 92px;

  border-radius: 18px;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 16px;

  margin-bottom: 14px;

  border: 2px solid #e5e5e5;

  box-shadow:
    0 4px 12px rgba(0,0,0,0.06);

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    border-color 0.15s ease;
}

.pokemon-card:active {
  transform: scale(0.985);
}

.pokemon-card.caught-card {
  border-color: #22c55e;
}

/* lado izquierdo */
.pokemon-left {
  display: flex;
  align-items: center;
  gap: 14px;

  min-width: 0;
}

/* contenedor imagen */
.pokemon-image-container {
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

/* imagen pokemon */
.pokemon-image {
  max-width: 66px;
  max-height: 66px;

  object-fit: contain;
  display: block;
}

/* info pokemon */
.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 0;
}

/* numero pokedex */
.pokemon-number {
  color: #8a8a8a;

  font-size: 16px;
  font-weight: 700;

  margin-bottom: 2px;
}

/* nombre */
.pokemon-info h2 {
  margin: 0;

  color: #222;

  font-size: 22px;
  font-weight: 800;

  text-transform: capitalize;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* badge caught */
.caught-badge {
  background: #dcfce7;
  color: #16a34a;

  font-size: 14px;
  font-weight: 800;

  padding: 7px 12px;

  border-radius: 999px;

  flex-shrink: 0;
}